/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
input {
    width: 40px;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: orange;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);

}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.Explanation{
border:2px solid darkblue;
border-radius:15px;
max-height:400px;
overflow-y:scroll;
}

.numbersToSelect {
    border: 2px solid orange;
    border-radius:15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"] {
    font-size: 24px;
    width: 50px;
    height: 50px;
    text-align: center;
    caret-color: transparent;

}

    input[type="text"]:focus {
        border: 2px solid orange;
        outline: none;
    }

    .dropbtn {
        background-color: orange;
        color: white;
        padding: 6px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown-content button:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: orange;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.colourSelect {
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    display: inline-block;
    float:right
}

.row {
    display: flex;
}

.tableGrid {
    table-layout: fixed;
}

.mainGrid{
    margin-left:5%;
}

.sudokuGrid {
    margin: 25%;
}
 /* The switch - the box around the slider */
    .switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.Red{
    background-color:red !important;
}

.Orange {
    background-color: orange !important;
}

.Yellow {
    background-color: yellow !important;
}

.Green {
    background-color: #99ffbb !important;
}

.Purple {
    background-color: mediumpurple !important;
}

.Pink {
    background-color: deeppink !important;
}

.Brown {
    background-color: brown !important;
}

.Black {
    background-color: black !important;
}

.sudokuButton {
    background-color: white;
    border: 0.5px solid grey;
    width: 50px;
    height: 50px;
}

.colourButton{
    background-color:white;
    border: 2px solid white;
    width:100%;
}

.thirdRow{
border-bottom: 5px solid cornflowerblue;
}

.thirdColumn {
    border-right: 5px solid cornflowerblue;
}

.thirdColumnRow {
    border-bottom: 5px solid cornflowerblue;
    border-right: 5px solid cornflowerblue;
}

.left {
    flex: 25%;
}

.middle {
    flex: 50%;
}

.right {
    flex: 25%;
}

.marginTop{
    margin-top:10px;
}

.SelectNumber {
    color: black;
    background: lightgoldenrodyellow;
    width: 50px;
    height: 50px;
}

.RemoveNumber {
    color: black;
    background: lightgoldenrodyellow;
    margin-left:20px;

}
.SkipNumber{
    margin-top:-40px;
    margin-bottom:10px;
}
.hidden{
    display:none;
}

.cellSelected {
    border: 1.5px solid orange;

}

.original {
    font-size: 30px;
}

.nonOriginal {
    font-size: 30px;
    color: orange;
    font-weight:bold;
}


.sudokuPossibilities {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 14px;
    line-break: normal;
    word-break: break-word;
    overflow: hidden;
    color: lightgray;
}
.NotSolved {
    font-size: 30px;
}

.invalidSudoku{
    background-color:red;
    color: white;
    font-size:18px;
    padding:10px;
}

.rowIntersect{
    background-color:aliceblue;
}

.columnIntersect {
    background-color: lightgoldenrodyellow;
}

.blockIntersect {
    background-color: palegreen;
}

.allIntersect {
    background-color: #ffe6ff;
}

.showPossibilities{
    font-weight:bolder;
    color:red !important;
}

.highlight{
    border:2px solid green:
}
.invalidCell {
    background-color: #ff6666;
}

.techniquesButton{
    border:2px solid orange;
    background-color:orange;
    border-radius:15px;
    width:100%;
}

li{
    list-style-type:none;
}

ul{
    padding-inline-start:0;
    margin-top:5px;
}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header2 {
    padding: 2px 16px;
    background-color: orange;
    color: white;
}

.modal-body2 {
    padding: 2px 16px;
}

.modal-footer2 {
    padding: 2px 16px;
    background-color: orange;
    color: white;
}

.help{
    background-color:#00008e;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        border: 1px solid blue;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        .imgIconsSquare{
            width:50px;
            height:50px;
        }

.imgIconsSquareLarge {
    width: 100px;
    height: 100px;
}

.imgIconsSquareExtraLarge {
    width: 200px;
    height: 200px;
}

.imgIconsRectangle {
    width: 150px;
    height: 50px;
}
.imgIconsRectangleLong {
    width: 300px;
    height: 50px;
}

.imageIconsHuge{
    width:50%;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/* Smallest devices (Ed's phone) */
@media only screen and (max-width: 400px) {

    .sudokuGrid {
        margin: 5%;
        margin-left: 35%;
    }

    .mediaQueryTest {
        background-color: pink;
    }
    .sudokuPossibilities {
        width: 35px;
        height: 35px;
        line-height: 10px;
        font-size:8px;
    }
    input[type="text"] {
        font-size: 16px;
        width: 35px;
        height: 35px;
    }

    .sudokuButton {
        width: 35px;
        height: 35px;
    }

    .NotSolved, .nonOriginal, .original{
        font-size:16px;
    }

    .mainGrid{
        margin-left:0;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 500px) {


   .sudokuGrid{
       margin:5%;
       margin-left:35%;
   }

    .sudokuButton {
        width: 45px;
        height: 45px;
    }

    input[type="text"] {
        font-size: 22px;
        width: 45px;
        height: 45px;
    }

    .sudokuPossibilities {
        width: 45px;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 12px;
        line-break: normal;
        word-break: break-word;
        overflow: hidden;
        
    }

    .cellSelected{
        border: 1px solid orange;
    }

    .mediaQueryTest {
        background-color: green;
    }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .sudokuGrid {
        margin: 5%;
        margin-left: 35%;
    }

    .mediaQueryTest{
        background-color:red;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .sudokuGrid {
        margin: 5%;
        margin-left: 20%;
    }

    .sudokuPossibilities{
        width:45px;
        height:45px;
    }

    .sudokuButton {
        width: 45px;
        height: 45px;
    }

    .sudokuSquare {
        width: 45px;
        height: 45px;
    }

    input[type="text"] {
        font-size: 22px;
        width: 45px;
        height: 45px;
    }

    .mediaQueryTest {
        background-color: blue;
    }

    .NotSolved, .nonOriginal, .original {
        font-size: 20px;
    }

    .sudokuPossibilities{
        font-size:14px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .sudokuGrid {
        margin: 5%;
        margin-left: 28%;
    }

    .mediaQueryTest {
        background-color: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .sudokuGrid {
        margin: 25%;
    }

    .mediaQueryTest {
        background-color: yellow;
    }

    .sudokuButton {
        width: 50px;
        height: 50px;
    }

    input[type="text"] {
        font-size: 24px;
        width: 50px;
        height: 50px;
    }

    .sudokuPossibilities {
        width: 50px;
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 14px;
        line-break: normal;
        word-break: break-word;
        overflow: hidden;
    }

    .NotSolved, .nonOriginal, .original {
        font-size: 30px;
    }


}




